<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  
</head>

<body>
 <div class="login">
	<h1>LIFA Premier League Match Predictor</h1>
    <h12>Welcome to LIFA Premier League Match Predictor! This is a Support Vector Machine classifier with an accuracy of 67%. Please note that this website is for showcase purposes only - LIFA takes no responsibilities for any losses occuring from odds betting based on the results from this model. Last updated 07.03.2020.</h12>
    <br>
    <br>
    <h12>To predict the probabilitites of match results in a particular match, you will have to provide 3 numbers:<h12>
    <br>
    <br>
    <h12>Home team win %: This is number is calculated by taking the number of wins in this season divided by total matches played. You will find these two numbers in any official Premier Leauge table on the web<h12> 
    <br>
    <br> 
    <h12>Away team win %: Same procedure as above - but now you do the same calulation for the Away team<h12> 
    <br>
    <br> 
    <h12>Historical Home wins: This is the number of times the Home team has won in previous meetings between the two teams you are predicting. This number is usually pre-calculated and displayed in the "Statistics" section for the match on common betting odds websites<h12> 
    <br>
    <br> 
    <h12>Pleasae note that you can only sumbit whole numbers - any decimal number has to be rounded up or down<h12>
    <br>
    <br> 
    <h12>Input example: Home team win %: 38 | Away team win %: 34 | Historical Home wins: 40 (you only put in the numbers) <h12>
    <br>
    <br> 
    <h12>When you push "Predict" - the output will show the probabilities for each match outcome<h12>    
     
     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<br>
    	<input type="text" name="H_win" placeholder="Home team win %" required="required" />
        <input type="text" name="A_win" placeholder="Away team win %" required="required" />
		<input type="text" name="Hxy" placeholder="Historical Home wins" required="required" />
                
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}
   

    <h12><h12>

 </div>


</body>
</html>
