<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  
</head>

<body>
 <div class="login">
	<h1>LIFA Premier League MatchPredictor</h1>
    <h12>Welcome to Premier League MatchPredictor 1.0 - by Lambertseter Institute of Fotball Analysis ! This is a Support Vector Machine classifier with 65-70% accuracy and it is a stripped down and simplified version of LIFAs main model - TippekupongenGenerator 2.0</h12>
    <br>
    <br>
    <h12>Please note that this website is for showcase purposes only. LIFA takes no responsibilities for any losses occuring from odds betting based on the predictions from this model. Last match day included in model data: 01.03.2020<h12>    
    <br>  
    <br>
    <h12>To predict the most likely match result, you will have to provide 3 historical head-to-head numbers: HomeTeam Win %, Draw % and AwayTeam Win %<h12>
    <br>  
    <br> 
    <h12>You will have to do three simple caluclations and put the numbers you get into the schema at the bottom of this page.<h12> 
    <br> 
    <p>You can find the numbers you need to do the calculations - here: 
    <a href="https://www.premierleague.com/stats/head-to-head"
       title="Preemier League head-to-head historcial match results">Premier League head-to-head statistics</a>.
    <br>
    <br>
    <h12>On the Premier Leauge statistcs page - select HomeTeam and AwayTeam to see historical Wins, Draws and Losses for the two teams. Remember to use the "Current" option (not "All-time")<h12>
    <br>
    <br> 
    <h12>Then you do some simple math - divide HomeTeam wins by total matches Played, Draws by total matches Played and finally AwayTeam wins by total matches Played.<h12>
    <br>
    <br>
    <h12>Round the three numbers you get to the nearest whole number (no decimals) - put them into the schema and press "Predict"<h12>    
    <br>
    <br>
    <h12>Here is an example of three input numbers: 43 36 21 <h12> 
     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<br>
    	<input type="text" name="HomeTeam WIN %" placeholder="HomeTeam WIN %" required="required" />
        <input type="text" name="DRAW %" placeholder="DRAW %" required="required" />
		<input type="text" name="AwayTeam WIN %" placeholder="AwayTeam WIN %" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}
   <br>
   <br>
   <br>
   <br>
   <h12> LIFA uses R for data wrangling, Dataiku DSS for model exploration/optimization and Python/Flask, GitHub and Heroku for deployment<h12>

 </div>


</body>
</html>
